<div class="container">
	<div id="newRoom">
		<%= render 'form' %>
	</div>

	<fieldset>
		<legend>Existing rooms</legend>
		<table class="table">
		  <tr>
		    <th>Name</th>
		    <th>Started</th>
		  </tr>
		 
		<% @rooms.each do |room| %>
		  <tr>
		    <td><%= link_to room.name, room %></td>
		    <td><%= time_ago_in_words(room.created_at) %> ago</td>
		  </tr>
		<% end %>
		</table>
	</fieldset>
</div>